/* ====== COLORS ====== */
// Black
$BLACK: #000;

// White
$WHITE: #fff;

// Grey
$GREY_MAIN: #484655;
$GREY_LIGHT: #747182;
$GREY_EXTRA: #ddd;
$GREY_EXTRA_LIGHT: #F8F8F8;
$GREY_ULTRA: #D9D9D9;
$GREY_ULTRA_LIGHT: #F3F3F3;
$GREY_SILVER: #A5A4AA;
$GREY_BRIGHT: #EDECEE;
$GREY_GAINSBORO: #DDDDDD;
$GREY_DARK: #636363;

// Red
$RED_LIGHT: #EF6A6A;

// Yellow
$YELLOW: #F3BA4A;

// BLUE
$BLUE_LIGHT: #29CCFF;
$BLUE_VIOLET: #9FB1FA;

// Violet
$VIOLET: #DA8CFF;

// Cyan
$CYAN: #34B9B5;
$CYAN_DARK: #00958B;

// Pink
$PINK: #EE3CA7;

// GOOGLE MAP POLYGON COLORS
$MAP_POLYGON_LIME: #A0CF1A;
$MAP_POLYGON_BLUE: #5C7CFC;
$MAP_POLYGON_TEAL: #00958B;
$MAP_POLYGON_OLIVE: #DD2E97;

:export {
  WHITE: $WHITE;

  BLACK: $BLACK;

  GREY_MAIN: $GREY_MAIN;
  GREY_LIGHT: $GREY_LIGHT;
  GREY_EXTRA: $GREY_EXTRA;
  GREY_EXTRA_LIGHT: $GREY_EXTRA_LIGHT;
  GREY_ULTRA: $GREY_ULTRA;
  GREY_ULTRA_LIGHT: $GREY_ULTRA_LIGHT;
  GREY_SILVER: $GREY_SILVER;
  GREY_BRIGHT: $GREY_BRIGHT;
  GREY_GAINSBORO: $GREY_GAINSBORO;

  RED_LIGHT: $RED_LIGHT;

  BLUE_LIGHT: $BLUE_LIGHT;
  BLUE_VIOLET: $BLUE_VIOLET;

  VIOLET: $VIOLET;

  PINK: $PINK;

  YELLOW: $YELLOW;

  CYAN: $CYAN;
  CYAN_DARK: $CYAN_DARK;

  MAP_POLYGON_LIME: $MAP_POLYGON_LIME;
  MAP_POLYGON_BLUE: $MAP_POLYGON_BLUE;
  MAP_POLYGON_TEAL: $MAP_POLYGON_TEAL;
  MAP_POLYGON_OLIVE: $MAP_POLYGON_OLIVE;
}
